<h1>I was born on <%= @birth_date.strftime('%A %B %d %Y')%></h1>
<p>That's <%= @date_diff[:diff] %> ago. Roughly speaking that's about <%= @days_since_birthdate.to_s(:delimited) %> days spent on this planet (assuming in my former life I was on a different planet). The average human spends a third of their life sleeping... so that's <%= (@days_since_birthdate / 3).to_s(:delimited) %> days that could have been spent doing HackerYou's Summer Academy <%= @days_since_birthdate / 3 / (9*7) %> times.</p>

<p><%= get_time_diff(@date_today, @birth_date)%></p>

<p>
	What is your birthdate?
</p>

<%= form_tag(birthdate_calc_path, method: "post") do %>
	<%= select_date Time.now, {start_year: 1920, prefix: :birth_date} %>
	<%= submit_tag "Submit" %>
<% end %>
